.ProfileEditForm {
  margin: auto;
  margin-top: 2vh;
}

.ProfileEditForm-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ProfileEditForm-input:disabled {
  background-color: rgba(255, 255, 255, 0.5) !important;
}