.UserCard {
  padding-top: 25vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.UserCard-Header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-bottom: 25px;
}

.UserCard-Image {
  max-height: 300px;
  max-width: 300px;
}

.UserCard-Like-Button {
  width: 300px;
  height: 300px;
  color: rgb(255, 255, 255);
  font-size: 75px;
  background-color: green;
}

.UserCard-Dislike-Button {
  width: 300px;
  height: 300px;
  color: rgb(255, 255, 255);
  font-size: 75px;
  background-color: red;
}