.Chatbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 75vh;
  padding-top: 2vh;
  padding-bottom: 10vh;
}

.Chatbox-Header {
  font-size: 3rem;
}

.Chatbox-Messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 59vh;
  overflow-y: scroll;
  background-color: white;
  margin-bottom: 4px;
  border-radius: 10px;
  border: 1px solid gray;
}


.Chatbox-Messages::-webkit-scrollbar {
  /* width: 3px;
  background-color: rgb(49, 49, 49);
  border-radius: 1%; */
  display: none;
}

.Chatbox-Messages::-webkit-scrollbar-track {
  display: none;
  background-color: red;
}