.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 30vh;
}

.HomePage-title {
  font-weight: 700;
}

.HomePage-title-logo {
  display: flex;
}

.HomePage-logo {
  width: 70px;
  height: 70px;
  margin: -8px -5px;
}

.HomePage-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}